.header-nav-element{
     margin-inline-end: 20px;
}

img {
    height: 534px;
    width: 720px;
    margin-left: 360px;
    margin-top: 200px;
}

.center{
    text-align:center;
}

.all-your{
    display: inline;
}